<section class="vegetables" id="vegetables">
  <div class="container">
    <h2 data-aos="fade-left" class="veg-main-title headline2">
      organic <span class="veg-span-title">vegetables</span>
    </h2>
    <p class="veg-main-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veg-list" id="vegetablelist"></ul>
  </div>
</section>
